x-db: &db
  POSTGRES_DB: pm_db
  POSTGRES_USER: pm_user
  POSTGRES_PASSWORD: pm_password

x-defaults: &defaults
  networks:
    - pm_network
  restart: always

services:
  db:
    <<: *defaults
    image: postgres:18.1-alpine3.23
    container_name: pm_db
    environment:
      <<: *db
      PGTZ: Europe/Zagreb
    volumes:
      - ./db/db_data:/var/lib/data
      - ./db/backup:/backups
    ports:
      - "5432:5432"

  app:
    <<: *defaults
    image: pm:latest
    container_name: pm_app
    environment:
      <<: *db
      POSTGRES_HOST: db
      NODE_ENV: production
      SESSION_SECRET: lj6QgwWYYn/w18qduVrZij73+0SdYBqSyrg15lLKKDs=
      EMAIL_ENABLED: true
      EMAIL_HOST: smtp.gmail.com
      EMAIL_PORT: 587
      EMAIL_SECURE: false
      EMAIL_USER: mihovil.1978@gmail.com
      EMAIL_PASSWORD: hpdhinentplivqaj
      EMAIL_FROM: Project Management <mihovil.1978@gmail.com>
      NOTIFICATION_RATE_LIMIT: 100
      LOG_LEVEL: info
    ports:
      - "3000:80"
      - "5000:5000"
    depends_on:
      - db

networks:
  pm_network:
    driver: bridge
