x-db: &db
  POSTGRES_DB: ${POSTGRES_DB}
  POSTGRES_USER: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

x-defaults: &defaults
  networks:
    - pm_network
  restart: always

services:
  db:
    <<: *defaults
    image: postgres:18.1-alpine3.23
    container_name: pm_db
    environment:
      <<: *db
      PGTZ: ${TZ}
    volumes:
      - ./db/db_data:/var/lib/data
      - ./db/backup:/backups
    ports:
      - "5432:5432"

  app:
    <<: *defaults
    image: pm:latest
    container_name: pm_app
    environment:
      <<: *db
      POSTGRES_HOST: db
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      NODE_ENV: ${NODE_ENV}
      SESSION_SECRET: ${SESSION_SECRET}
      FE_URL: ${FE_URL}
      EMAIL_ENABLED: ${EMAIL_ENABLED}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_SECURE: ${EMAIL_SECURE}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      EMAIL_FROM: ${EMAIL_FROM}
      NOTIFICATION_RATE_LIMIT: ${NOTIFICATION_RATE_LIMIT}
      LOG_LEVEL: ${LOG_LEVEL}
    ports:
      - "3000:80"
      - "5000:5000"
    depends_on:
      - db

networks:
  pm_network:
    driver: bridge
